{% extends 'movie/base.html' %}


{% block title %}
    About
{% endblock title %}
    

{% block body %}
<div class="container">
    <h2 class="text-light text-center">thank you for using our service...!</h2>
    <p class="text-center text-info p-3">About Us
        Movies4u.Com Is Best Website/Platform For Bollywood And Hollywood HD Movies.
        
        We Sharing Here Direct Download Links Without Any Irritating Ads Or Pop-Ups.
        
        Here We Share Various Filesharing Sites Links For One Movie In Many Quality Like Bluray, HDRip, BRRip, WeB-DL, etc!
        Download Dual/Multi Audio High-Quality Movies And Tv/Web Series Directly Without Any Popup Ads. We Are Providing English Movies, Hollywood Dual Audio Movies, Bollywood Movies, Tv/Web Series, Tv-Shows, Anime, And Many More.

    </p>
    <p class="text-center text-info p-3">
        <span class="text-danger">Disclaimer:</span> All My Post Are Free Available On Internet Posted By Somebody Else
I’m Not VIOLATING Any COPYRIGHTED LAW. If Anything Is Against LAW, Please Notify Me.

If You think We Shared Your Content Or Product Without Your Permission, Then You Can Claim Using Our DMCA Contact Form Page. We Never Host Any File On Our Server All Point To Content Hosted On Third-Party Websites.

Note: MoviesFlixPro.Org Is a Complete Independent Entity.
    </p>
    <p class="text-center text-info p-3"><span class="text-danger">Note:</span>this website is made for educational purpose only.</p>
    </div>
{% endblock body %}
    